    body {
        margin: 0;
    }
    h1 {
        font-size: 40px;
        text-align: center;
        border-bottom: 1px solid #eee;
        margin: 0;
        padding: 20px;
        box-shadow: 0px 0px 10px #666;
    }
    h1 a {
        color: rgb(38, 95, 170);
        text-decoration-line: none;
        width: 100%;
    }
    img {
        display: block;
        width: 560px; height: 315px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 10px #666;
    }
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0 10px #666;
    }
    a {
        text-decoration: none;
        color: rgb(38, 95, 170);
    }
    a:hover, a:focus {
        color: gray;
    }
    li a {
        font-weight: bold;
    }
    #grid #liul {
        font-size: 18px;
    }
    ul .listcolor {
        color: gray;
    }
    #grid #liul {
        border-right: 1px solid #eee;
        width: 110px;
        height: 100%;
        margin: 0;
        padding: 20px;
        padding-left: 40px;
        box-shadow: 0px 10px 10px #666
    }
    #grid {
        display: grid;
        grid-template-columns: 150px 1fr;
    }
    #tx {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 20px;
        margin-right: 170px;
        border-right: 1px solid #eee;
        height: 100%;
    }
    #tx .topline {
        border-top: 1px solid #eee;
        padding-top: 15px;
    }
    #tx .bottomline {
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
    }
    #tx #textcenter {
        text-align: center;
    }
    #grid #listtitle {
        padding-right: 20px;
    }

    @media(max-width:750px) {
        #grid {
            display: block;
        }
        #grid ul {
            border-right: none;
        }
        h1 {
            border-bottom: none;
        }
        #tx .bottomline {
            border-bottom: none;
            padding-bottom: 0px;
        }
        iframe {
            width: 100%;
        }
    }